# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_size = 4
trim_trailing_whitespace = true

[*.{js, html, ts}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{sass, scss}]
indent_style = space

[*.yaml]
indent_style = space
indent_size = 2
